name: Run tests on any Push event
# Запуск при любом push евенте в любой ветке, за исключением релизных тэгов.
# Они будут тестироваться перед сборкой
on:
  push:
    tags:
      - '!refs/tags/*'
    branches:
      - '*'
jobs:
  run_tests:
    runs-on: [ubuntu-latest]
    steps:
      # Чекаутим код
      - uses: actions/checkout@master
      # Устанавливаем python нужной версии
      - uses: actions/setup-python@v1
        with:
          python-version: '3.9.21'
          architecture: 'x64'
      - name: Install requirements
        # Устанавливаем зависимости
        run: |
          pip install -r requirements.txt
          pip install coverage
      - name: Run tests with coverage
        run: coverage run -m pytest

      - name: Generate coverage report
        run: |
          coverage report
          coverage xml